.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  padding: 20px;
  background: #f1f5ff80;
  border-radius: 18px;
  #item {
    background: white;
    text-align: start;
    font-size: 26px;
    color: #121722;
    border: 1px solid black;
    p {
      color: #121722;
      font-size: 20px;
    }
  }
  .item {
    #p {
      margin-top: 20px;
      font-size: 13px;
    }
    h3 {
      font-size: 26px;
    }
    p {
      margin-top: 30px;
      font-size: 18px;
    }
    background-color: #4058ff;
    color: white;
    padding: 30px;
    font-size: 18px;
    text-align: start;
    border-radius: 8px;
  }
}
@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(3, auto);
    #item {
      font-size: 22px;
      p {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(2, auto);
    #item {
      font-size: 22px;
      p {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
}
