.librariy__2 {
  margin-top: 50px;
  .librariy__wapper2 {
    padding: 15px;
    background: #121722;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .texts {
      h3 {
        font-size: 34px;
        font-weight: 400;
        line-height: 38px;
        color: #e8f1ff;
        margin-left: 50px;
      }

      p {
        font-size: 20px;
        line-height: 29px;
        font-weight: 400;
        color: #e8f1ff;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 50px;
      }
    }
  }
  .imgs {
    img {
      width: 750px;
    }
  }
}

@media (max-width: 1100px) {
  .librariy__2 {
    .librariy__wapper2 {
      .texts {
        h3 {
          font-size: 30px;
        }

        p {
          font-size: 18px;
        }
      }
      .imgs {
        img {
          width: 650px;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .librariy__2 {
    .librariy__wapper2 {
      .texts {
        h3 {
          font-size: 28px;
          margin-bottom: 5px;
          margin-left: 40px;
        }

        p {
          font-size: 18px;
          margin-top: 5px;
          margin-left: 40px;
        }
      }
      .imgs {
        img {
          width: 550px;
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .librariy__2 {
    .librariy__wapper2 {
      .texts {
        h3 {
          font-size: 24px;
          margin-bottom: 5px;
        }

        p {
          font-size: 16px;
          margin-top: 5px;
        }
      }
      .imgs {
        img {
          width: 450px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .librariy__2 {
    margin-top: 50px;
    .librariy__wapper2 {
      display: flex;
      flex-direction: column-reverse;
      .texts {
        h3 {
          font-size: 30px;
          text-align: center;
          margin-left: 0px;
        }

        p {
          font-size: 18px;
          text-align: center;
          margin-left: 0px;
        }
        .rasm {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 0 auto;
        }
      }
      .imgs {
        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .librariy__2 {
    margin-top: 20px;
    .librariy__wapper2 {
      display: flex;
      flex-direction: column-reverse;
      .texts {
        h3 {
          font-size: 20px;
          text-align: center;
        }

        p {
          font-size: 16px;
          text-align: center;
        }
      }
      .imgs {
        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
